<section class="container">
  <header>
    <h1>Cadastrar ponto de doação</h1>
  </header>

  <form [formGroup]="donationPointForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="name">Nome</label>
      <app-input
        [id]="'name'"
        [name]="'name'"
        [type]="'text'"
        [placeholder]="'Digite o nome do ponto de doação'"
        formControlName="name"
      />
      <small *ngIf="donationPointForm.get('name')?.touched && getErrorMessage('name') as errorMessage" class="invalid-feedback">
        {{errorMessage}}
      </small>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <app-input
        [id]="'email'"
        [name]="'email'"
        [type]="'text'"
        [placeholder]="'Informe seu e-mail'"
        formControlName="email"
      />
      <small *ngIf="donationPointForm.get('email')?.touched && getErrorMessage('email') as errorMessage" class="invalid-feedback">
        {{errorMessage}}
      </small>
  </div>

    <div class="form-group">
      <label for="street">Rua</label>
      <app-input
        [id]="'street'"
        [name]="'street'"
        [type]="'text'"
        [placeholder]="'Digite a rua do ponto de doação'"
        formControlName="street"
      />
      <small *ngIf="donationPointForm.get('street')?.touched && getErrorMessage('street') as errorMessage" class="invalid-feedback">
        {{errorMessage}}
      </small>
    </div>

    <div class="form-group">
      <label for="number">Número</label>
      <app-input
        [id]="'number'"
        [name]="'number'"
        [type]="'number'"
        [placeholder]="'Digite o número do ponto de doação'"
        formControlName="number"
      />
      <small *ngIf="donationPointForm.get('number')?.touched && getErrorMessage('number') as errorMessage" class="invalid-feedback">
        {{errorMessage}}
      </small>
    </div>

    <div class="form-group">
      <label for="city">Cidade</label>
      <app-input
        [id]="'city'"
        [name]="'city'"
        [type]="'text'"
        [placeholder]="'Digite a cidade do ponto de doação'"
        formControlName="city"
      />
      <small *ngIf="donationPointForm.get('city')?.touched && getErrorMessage('city') as errorMessage" class="invalid-feedback">
        {{errorMessage}}
      </small>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="openingTime">Horário de abertura do ponto</label>
        <app-input
          [id]="'openingTime'"
          [name]="'openingTime'"
          [type]="'time'"
          [placeholder]="'Digite o horário de abertura do ponto de doação'"
          formControlName="openingTime"
        />
        <small *ngIf="donationPointForm.get('openingTime')?.touched && getErrorMessage('openingTime') as errorMessage" class="invalid-feedback">
          {{errorMessage}}
        </small>
       </div>

        <div class="form-group">
          <label for="closingTime">Horário de fechamento do ponto</label>
          <app-input
            [id]="'closingTime'"
            [name]="'closingTime'"
            [type]="'time'"
            [placeholder]="'Digite o horário de fechamento do ponto de doação'"
            formControlName="closingTime"
          />
          <small *ngIf="donationPointForm.get('closingTime')?.touched && getErrorMessage('closingTime') as errorMessage" class="invalid-feedback">
            {{errorMessage}}
          </small>
        </div>
      </div>

    <footer style="display: flex;">
      <a routerLink="/donation-points" class="mr-2">
        <app-button [type]="'button'" [block]="true" [variant]="'outline'">
          Voltar
        </app-button>
      </a>

      <app-button [type]="'submit'" [block]="true">
        Salvar
      </app-button>
    </footer>
  </form>
</section>
