.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

h1 {
    font-size: 23pt;
}

.table {
    width: 50%;
    max-height: 400px;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tbody {
    align-content: center;
}

th, td {
    min-width: 140px;
    text-align: center;
    border-bottom: 1px solid var(--color-black);
    padding-top: 5px;
    padding-bottom: 5px;
}
