<div class="container">
  <h1>Home Page</h1>

  <!-- Botão para a página de produtos -->
  <a routerLink="/products">
    <app-button [type]="'button'" [block]="true">
      Produtos
    </app-button>
  </a>

  <!-- Botão para a página de promoções -->
  <a routerLink="/promotions">
    <app-button [type]="'button'" [block]="true">
      Promoções
    </app-button>
  </a>

 <!-- Botão para a página de doações -->
  <a routerLink="/donations">
    <app-button [type]="'button'" [block]="true">
      Doações
    </app-button>
  </a>

  <!-- Botão para a página de pontos de doação -->
  <a routerLink="/donation-points">
    <app-button [type]="'button'" [block]="true">
      Pontos de Doação
    </app-button>
  </a>

</div>
