.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.mb-10px {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.card-size {
  width: 288px;
  height: 182px;
}