.modal {
  max-width: 512px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  display: block;
}

.modal[open] {
  top: 50%;
  opacity: 1;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
